*{
    padding:0px;
    margin:0px;
}

h1{
    
    font-family: monospace;
    display:none;
    margin: 0;
    background: magenta;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

button
{
    font-family: monospace;
    margin: 0;
    position: absolute;
    top: 1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

html
{
    background-color: rgb(0, 0, 0);
}

#a30days
{
    background-color: red;
    mix-blend-mode: difference;
    position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    height:90vh;
    width: 90vw;
    
    animation-name: expand;
    animation-duration: 86400s; /*86400*/
    animation-iteration-count: infinite
}


#a24hours
{
    background-color: green;
    mix-blend-mode: difference;
    position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    height:70vh;
    width: 90vw;
    
    animation-name: expand;
    animation-duration: 86400s; /*86400*/
    animation-iteration-count: infinite
}

#a60minutes
{
    background-color: cyan;
    mix-blend-mode: difference;
    position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    height:50vh;
    width: 90vw;

    animation-name: expand;
    animation-duration: 3600s; /*3600*/
    animation-iteration-count: infinite
}

#a60seconds
{
    background-color: magenta;
    mix-blend-mode: difference;
    position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    height:30vh;
    width: 90vw;

    animation-name: expand;
    animation-duration: 60s;
    animation-iteration-count: infinite
    
}

#a1second
{
    background-color: yellow;
    mix-blend-mode: difference;
    position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    height:10vh;
    width: 90vw;

    animation-name: expand;
    animation-duration: 1s;
    animation-iteration-count: infinite
    
}

/*
@keyframes expand 
{
    from {width: 20vw;}
    to {width: 90vw}
}
*/

@keyframes colours
{
  0%{color: rgb(255, 0, 0);}
  15%{color: rgb(255, 234, 0);}
  30%{color: rgb(0, 255, 102);}
  45%{color: rgb(0, 221, 255);}
  60%{color: rgb(68, 0, 255);}
  75%{color: rgb(255, 0, 221);}
  90%{color:rgb(255, 0, 119);}
  100%{color: rgb(255, 0, 0);}
}
